In [6]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"col1": np.random.randn(3), "col2": np.random.randn(3)}, index=["a", "b", "c"])


for col in df:
    print(col)
    
df

col1
col2

       col1      col2
a -1.181519  0.762176
b  2.305142 -1.886530
c -0.761086 -0.279145

In [16]:
df = pd.DataFrame({"a": [1, 2, 3], "b": ["a", "b", "c"]})
for index, row in df.iterrows():
    print(row)

df

a    1
b    a
Name: 0, dtype: object
a    2
b    b
Name: 1, dtype: object
a    3
b    c
Name: 2, dtype: object

   a  b
0  1  a
1  2  b
2  3  c