# Testing
### Eheschliessungen und Ehescheidungen, seit 1934
Datum: 02.11.2021

**Importiere die notwendigen Packages**

In [6]:
#pip install geopandas fiona requests folium mplleaflet contextily

In [7]:
import pandas as pd
import pivottablejs
from pivottablejs import pivot_ui
import numpy as np
import altair as alt
import matplotlib.pyplot as plt
from datetime import datetime
import geopandas as gpd
import folium

Definiere Settings. Hier das Zahlenformat von Float-Werten (z.B. *'{:,.2f}'.format* mit Komma als Tausenderzeichen),

In [8]:
pd.options.display.float_format = '{:.0f}'.format
pd.set_option('display.width', 100)
pd.set_option('display.max_columns', 15)

Importiere einen Datensatz von der **DWH_INT** Dropzone.

- Beachte dabei die Notation des Pfades...
- Definiere mal aktuell noch keine weiteren Parameter beim Import

**Dataset auf INTEG Datenkatalog**: https://data.integ.stadt-zuerich.ch/dataset/int_dwh_bev_ehe_scheidung_seit1934_od3300

(int_dwh)

In [9]:
# Filepath
fp = r"\\szh\ssz\applikationen\OGD_Dropzone\INT_DWH\bev_ehe_scheidung_seit1934_OD3300\BEV330OD3300.csv"


# Read the data
data2betested = pd.read_csv(
    fp, 
    sep=',',
   #usecols=[0,1,2,3,4,6],
   #names=['stationid','year','month','avgtemp','latitude','longitude','elevation','station','countryid','country'],
   #skiprows=1,
   # parse_dates=[0],
    parse_dates=True,
    #date_parser=lambda x: pd.to_datetime(x, format="%Y"), 
    #index_col="date_time",
    low_memory=False    
    )

In der Folge ein paar erste Tests:

In [10]:
type(data2betested)

pandas.core.frame.DataFrame

 - 1) Zeige eine kurze Vorschau der importierten Daten
 - 2) Weise die Datentypen aus
 - 3) Zeige die Shape (Umfang) des Datensatzes an

In [11]:
data2betested.head(3)

   StichtagDatJahr  AnzSchl  AnzSche  AnzBestWir
0             1934     4220      705      315864
1             1935     3775      678      317157
2             1936     3588      703      317712

In [12]:
data2betested.dtypes

StichtagDatJahr    int64
AnzSchl            int64
AnzSche            int64
AnzBestWir         int64
dtype: object

In [13]:
data2betested.shape

(87, 4)

Beschreibe einzelne Attribute

In [14]:
data2betested.describe()

       StichtagDatJahr  AnzSchl  AnzSche  AnzBestWir
count               87       87       87          87
mean              1977     4072     1042      383520
std                 25     1034      360       33807
min               1934     2607      626      315864
25%               1956     3358      754      360765
50%               1977     3597      872      377087
75%               1998     4986     1301      412606
max               2020     6014     1991      440180

Wie viele Nullwerte gibt es im Datensatz?

In [15]:
data2betested.isnull().sum()

StichtagDatJahr    0
AnzSchl            0
AnzSche            0
AnzBestWir         0
dtype: int64

Wandle die Spalte Jahr von Int zu **Datetime** um. Dies wird in den meisten Grafiken so benötigt.

In [16]:
data2betested['StichtagDatJahr']=pd.to_datetime(data2betested['StichtagDatJahr'], format='%Y')

#TO DO --> setze das Datum auf den 31.12. der Jahres.
#test=data2betested[['StichtagDatJahr']].date().replace(month=12, day=31)

data2betested

   StichtagDatJahr  AnzSchl  AnzSche  AnzBestWir
0       1934-01-01     4220      705      315864
1       1935-01-01     3775      678      317157
2       1936-01-01     3588      703      317712
3       1937-01-01     3626      712      318926
4       1938-01-01     3719      716      326979
..             ...      ...      ...         ...
82      2016-01-01     3406     1276      415682
83      2017-01-01     3404     1251      423310
84      2018-01-01     3399     1241      428737
85      2019-01-01     3289     1305      434008
86      2020-01-01     2751     1158      434736

[87 rows x 4 columns]

Bereite die Daten für die Grafik unten vor

In [17]:
Jahre = data2betested.groupby("StichtagDatJahr")
len(Jahre)

87

In [18]:
for key, group in Jahre:
    print(key, len(group))

1934-01-01 00:00:00 1
1935-01-01 00:00:00 1
1936-01-01 00:00:00 1
1937-01-01 00:00:00 1
1938-01-01 00:00:00 1
1939-01-01 00:00:00 1
1940-01-01 00:00:00 1
1941-01-01 00:00:00 1
1942-01-01 00:00:00 1
1943-01-01 00:00:00 1
1944-01-01 00:00:00 1
1945-01-01 00:00:00 1
1946-01-01 00:00:00 1
1947-01-01 00:00:00 1
1948-01-01 00:00:00 1
1949-01-01 00:00:00 1
1950-01-01 00:00:00 1
1951-01-01 00:00:00 1
1952-01-01 00:00:00 1
1953-01-01 00:00:00 1
1954-01-01 00:00:00 1
1955-01-01 00:00:00 1
1956-01-01 00:00:00 1
1957-01-01 00:00:00 1
1958-01-01 00:00:00 1
1959-01-01 00:00:00 1
1960-01-01 00:00:00 1
1961-01-01 00:00:00 1
1962-01-01 00:00:00 1
1963-01-01 00:00:00 1
1964-01-01 00:00:00 1
1965-01-01 00:00:00 1
1966-01-01 00:00:00 1
1967-01-01 00:00:00 1
1968-01-01 00:00:00 1
1969-01-01 00:00:00 1
1970-01-01 00:00:00 1
1971-01-01 00:00:00 1
1972-01-01 00:00:00 1
1973-01-01 00:00:00 1
1974-01-01 00:00:00 1
1975-01-01 00:00:00 1
1976-01-01 00:00:00 1
1977-01-01 00:00:00 1
1978-01-01 00:00:00 1
1979-01-01 00:00:00 1
1980-01-01 00:00:00 1
1981-01-01 00:00:00 1
1982-01-01 00:00:00 1
1983-01-01 00:00:00 1
1984-01-01 00:00:00 1
1985-01-01 00:00:00 1
1986-01-01 00:00:00 1
1987-01-01 00:00:00 1
1988-01-01 00:00:00 1
1989-01-01 00:00:00 1
1990-01-01 00:00:00 1
1991-01-01 00:00:00 1
1992-01-01 00:00:00 1
1993-01-01 00:00:00 1
1994-01-01 00:00:00 1
1995-01-01 00:00:00 1
1996-01-01 00:00:00 1
1997-01-01 00:00:00 1
1998-01-01 00:00:00 1
1999-01-01 00:00:00 1
2000-01-01 00:00:00 1
2001-01-01 00:00:00 1
2002-01-01 00:00:00 1
2003-01-01 00:00:00 1
2004-01-01 00:00:00 1
2005-01-01 00:00:00 1
2006-01-01 00:00:00 1
2007-01-01 00:00:00 1
2008-01-01 00:00:00 1
2009-01-01 00:00:00 1
2010-01-01 00:00:00 1
2011-01-01 00:00:00 1
2012-01-01 00:00:00 1
2013-01-01 00:00:00 1
2014-01-01 00:00:00 1
2015-01-01 00:00:00 1
2016-01-01 00:00:00 1
2017-01-01 00:00:00 1
2018-01-01 00:00:00 1
2019-01-01 00:00:00 1
2020-01-01 00:00:00 1

In [19]:
myJahr = "2020-01-01"
aktuellesJahr=Jahre.get_group(myJahr)   
aktuellesJahr

   StichtagDatJahr  AnzSchl  AnzSche  AnzBestWir
86      2020-01-01     2751     1158      434736

**Selektionen und Aggregationen**

Check this [Doku](https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/)

In [20]:
#test = data2betested.groupby(['StichtagDatJahr', 'AlterV20Kurz'])[['AnzBestWir']].agg()

# produces Pandas Series
    #data2betested.groupby(['StichtagDatJahr', 'KonOGDSort'])['AnzBestWir'].sum()
# Produces Pandas DataFrame
    #data2betested.groupby(['StichtagDatJahr', 'KonOGDSort'])[['AnzBestWir']].sum()

**Einfache Visualisierungen zur Plausi**

Exploriere die Daten mit Pivottable.JS

In [21]:
from pivottablejs import pivot_ui

pivot_ui(data2betested)

Liniendiagramm 
[Link zur Doku](https://altair-viz.github.io/gallery/multiline_highlight.html)

In [24]:
data2betested

   StichtagDatJahr  AnzSchl  AnzSche  AnzBestWir
0       1934-01-01     4220      705      315864
1       1935-01-01     3775      678      317157
2       1936-01-01     3588      703      317712
3       1937-01-01     3626      712      318926
4       1938-01-01     3719      716      326979
..             ...      ...      ...         ...
82      2016-01-01     3406     1276      415682
83      2017-01-01     3404     1251      423310
84      2018-01-01     3399     1241      428737
85      2019-01-01     3289     1305      434008
86      2020-01-01     2751     1158      434736

[87 rows x 4 columns]

In [26]:
# df_statzonen = df_statzonen[(df_statzonen.knr>0) & (df_statzonen.qname!="Hirslanden")]
#mySelection[[mySelection.NationFHistLang =='Schweiz']]


highlight = alt.selection(type='single', on='mouseover',
                          fields=['AnzSchl'], nearest=True)
#x='date:StichtagDatJahr',
base = alt.Chart(data2betested).encode(
    x='StichtagDatJahr',
    y='AnzSchl',
    color='AnzSchl'
)

points = base.mark_circle().encode(
    opacity=alt.value(2)
).add_selection(
    highlight
).properties(
    width=700 , height=300
)
lines = base.mark_line().encode(
    size=alt.condition(~highlight, alt.value(1.5), alt.value(4))
).interactive()

points + lines

alt.LayerChart(...)

In [30]:
alt.Chart(data2betested).mark_circle(size=60).encode(
    x='StichtagDatJahr',
    y='AnzSchl',
    #color='AnzNat',
    #color=alt.Color('AnzNat', scale=alt.Scale(scheme='greens')),
    color=alt.Color('AnzBestWir', scale=alt.Scale(scheme='dark2')),
    tooltip=['AnzSchl','StichtagDatJahr','AnzSche','AnzBestWir']
).interactive() # this makes the axes interactive: now you can zoom & pan

alt.Chart(...)

**Sharepoint als gecheckt markieren!**

Record auf Sharepoint: **[Link](http://kollaboration.intranet.stzh.ch/orga/ssz-produkte/Lists/SASA_Outputs/EditForm.aspx?ID=52&Source=%2Forga%2Fssz%2Dprodukte%2FLists%2FSASA%5FOutputs)**